{% extends 'base.html' %}

{% block head %}
    <title>{{ team_name }} Dashboard</title>
{% endblock head %}

{% block body %}
    <div class="col-md-4" id="members-partial">
        <h3>Loading Members...</h3>
    </div>
    <div class="col-md-8" id="prs-partial">
        <h3>Loading Pull Requests...</h3>
    </div>


    <script>
        function loadPartials() {
            $("#members-partial").load(window.location.pathname + "/members");
            $("#prs-partial").load(window.location.pathname + "/prs");
        }

        loadPartials();
        setInterval(function() {
            loadPartials()
        }, 60000);
    </script>

{% endblock body %}
